  <p> Welcome </p>
          <span class="reauth-email"></span>
            <input type="email"  placeholder="Username" required autofocus>
            <input type="password"  placeholder="Password" required>
                      <button >Login</button>
                      <button >Sign up</button>
                      <button >Forgot password</button>
                      <p> Welcome </p>
                      <input type="email" class="form-control" placeholder="Username" required autofocus>
                      <input type="text" class="form-control" placeholder="First name" required>
                      <input type="text" class="form-control" placeholder="Last name" required>
                      <input type="password" class="form-control" placeholder="Password" required>
                      <input type="password" class="form-control" placeholder="Confirmation" required>
                      <button >Register</button>
                      <button >Back to login</button>
