<div class="container" *ngIf="action != 'signup'">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
        <p id="profile-name" class="profile-name-card"></p>

        <span id="reauth-email" class="reauth-email"></span>
        <input type="text" name="loginemail" [(ngModel)]="loginModel.email" class="form-control"
               placeholder="example@gmail.com" required="required" style="margin-top: 5px;"/>
        <input type="password" name="password" [(ngModel)]="loginModel.pass" id="inputPassword" class="form-control"
               placeholder="Password" required style="margin-top: 5px;">
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="login()" type="submit"
                style="margin-top: 10px;">Sign in
        </button>
        <a (click)="action = 'signup'" class="forgot-password" style="margin-top: 5px">
            Not registered? Sign Up
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->
<div class="container" *ngIf="action == 'signup'">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
        <p class="profile-name-card"></p>
        <span class="reauth-email"></span>
        <input type="text" name="firstName" [(ngModel)]="userModel.first" class="form-control required="
               required="required" style="margin-top: 5px;"
               placeholder="First Name" required="required"/>
        <input type="text" name="lastName" [(ngModel)]="userModel.last" class="form-control required="
               required="required" style="margin-top: 5px;"
               placeholder="Last Name" required="required"/>
        <input type="email" name="email" [(ngModel)]="userModel.email" class="form-control" style="margin-top: 5px;"
               placeholder="Email Address" required>
        <input type="password" name="password" [(ngModel)]="userModel.pass" class="form-control"
               style="margin-top: 5px;"
               placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="signup()" type="submit"
                style="margin-top: 10px;">Sign Up
        </button>
        <a (click)="action = 'login'" class="forgot-password">
            Already registered? Login
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->