<div class="container">
  <div class="jumbotron text-center">
    <h1>{{todos.length}}&nbsp;<span class="label label-info">Recent Activity</span></h1>
  </div>
  <div class="row">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">Past week</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todos">
            <td>
              <input type="checkbox"  bind-checked="false"/>&nbsp;&nbsp;
             </td>
            <td>{{todo.text}}<br/>
              {{todo.activityDate}}
            </td>
          </tr>
        </tbody>
      </table>

  </div>

  </div>
